<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', sans-serif;
      }
      body {
        width: 100%;
        gap: 20px;
      }
      .info {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 20px;
        border: 1px solid gray;
        background-color: aliceblue;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul class="navList">
        <li><a href="/">HOME</a></li>
        <% if (!currentUser) { %>
        <li style="float: right"><a href="/user/signin">Sign in</a></li>
        <% } %> <% if (!currentUser) { %>
        <li style="float: right"><a href="/user/login">Log in</a></li>
        <% } %> <% if (currentUser) { %>
        <li style="float: right"><a href="/user/profile">Profile</a></li>
        <% } %> <% if (currentUser) { %>
        <li style="float: right"><a href="/user/logout">Log out</a></li>
        <% } %>
        <li><a href="/anime/listAnime/page/1">Anime list</a></li>
      </ul>
    </nav>
    <div class="container"><%- body %></div>
  </body>
</html>
