.trending {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    list-style: none;
  }
  
  .trending > li {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    background-color: rgb(131, 131, 131);
    margin: 20px;
    max-width: 110px;
  }
  
  .trending > li > a {
    text-decoration: none;
    bottom: 0px;
    right: 0px;
    color: white;
    width: 100%;
    height: 20px;
    font-size: 10px;
  }