h1 {
  font-size:4em;
  text-align:center;
}

.listAnimes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  list-style: none;
}

.container {
  margin: 50px;
}

.container > button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}

.listAnimes > li {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  background-color: rgb(131, 131, 131);
  margin: 20px;
  max-width: 284px;
}

.listAnimes > li > a {
  text-decoration: none;
  bottom: 0px;
  right: 0px;
  color: white;
  width: 100%;
  height: 20px;
  font-size: 20px;
}

.listAnimes > li > a > p {
    padding: 5px;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchBarInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchBarSubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchBarSubmit:hover {
  cursor: pointer;
}

.filterAnimeList {
  color: black
}

.filterAnimeList > button {
  color: black
}