.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    list-style: none;
  }
  
  .list > li {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    background: linear-gradient(339deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 51%);
    margin: 20px;
    width: 120px;
    height: 215px;
  }
  
  .list > li > a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px;
    padding-left: 0;
  }

  .list > li > a > img {
    width: 120px;
  }

  #animeTitle {
    padding-left: 5px;
  }

  #deleteListBtn {
    color: black;
    border: 5px;
    padding: 2px;
  }