<h1>Profile</h1>
<h2> <% user.username %></h2>
<ul>
  <li><a href="/user/profile/watched">watched</a></li>
  <li><a href="/user/profile/watching">watching</a></li>
  <li><a href="/user/profile/planToWatch">planToWatch</a></li>
</ul>




