<link rel="stylesheet" href="/css/profile.css">  
<h1>Profile</h1>
<h2> <%= user.username %></h2>
<ul class="lists">
  <li><a href="/user/profile/watched">Watched</a></li>
  <li><a href="/user/profile/watching">Watching</a></li>
  <li><a href="/user/profile/planToWatch">Plan To Watch</a></li>
</ul>




