<h1>SIGN IN</h1>
<form action="/user/signin" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" required />
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <label for="repeatPassword">Repeat Password</label>
  <input type="password" name="repeatPassword" required />
  <label for="favoriteAnime">Favorite Anime</label>
  <input type="text" name="favoriteAnime" />
  <label for="favoriteAnimeWebsite">Favorite Website to watch Anime</label>
  <input type="text" name="favoriteAnimeWebsite" />
  <button type="submit">Sign In</button>
</form>
