<h1>Add Anime to list</h1>
<form action="/anime/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" />
  <label for="genre">Genre</label>
  <input type="text" name="genre" />
  <label for="addToList">Add to List</label>
  <select name="selectList">
    <option>watched</option>
    <option>watching</option>
    <option>planToWatch</option>
  </select>
  <button type="submit">Add Anime to list</button>
</form>
