<link rel="stylesheet" href="/css/listAnime.css" />
<link rel="stylesheet" href="/css/index.css" />

<h1>Anime List</h1>
<br />
<label for="searchBar">Search</label>
<form
  action="/anime/listAnime/search"
  id="myForm"
  onsubmit="return validateForm()"
>
  <div class="searchBar">
    <input
      type="text"
      name="searchBarInput"
      id="searchBarInput"
      placeholder="Type something"
    />
    <button type="submit" id="searchBarSubmit">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path
          fill="#666666"
          d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
        />
      </svg>
    </button>
  </div>
</form>

<div class="container">
  <button onclick="pageChanger(false)"><</button>
  <button onclick="pageChanger(true)">></button>
  <ul class="listAnimes">
    <% items.forEach((item) => { %>

    <li>
      <a href="/anime/<%= item.id %>">
        <img
          src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/small.jpg"
          alt=""
        />
        <br />
        <p class="title"><%= item.attributes.canonicalTitle %></p>
      </a>
    </li>
    <% }) %>
  </ul>
  <button onclick="pageChanger(false)"><</button>
  <button onclick="pageChanger(true)">></button>
</div>

<script>
  function pageChanger(flag) {
    //Subtring to get the whole URL before the page number, starting from index zero
    let url = window.location.href.substring(
      0,
      window.location.href.lastIndexOf("/") + 1
    );

    //Subtring to get the page number after the last "/"
    let currentPageNum = window.location.href.substring(
      window.location.href.lastIndexOf("/") + 1
    );

    //previous and next button logic
    //if flag is true, add to the url the current page number +1 : if flag is false, add to the url the current number -1.
    flag
      ? (window.location.href = url + (parseInt(currentPageNum) + 1))
      : (window.location.href = url + (parseInt(currentPageNum) - 1));
  }

  function validateForm() {
    let input = document.getElementById("searchBarInput");
    if (input.value.trim().length) {
      return true;
    } else {
      document.getElementById("searchBarInput").placeholder = "Type something here!!";
      return false;
    }
  }
</script>
